# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
build/*
.trash/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/app.json
.obsidian/appearance.json

#IDE and code editor(s) setting
.idea/
.vscode

public/
resources/
dist/
app/worker/node_modules
node_modules/
latestcheck.json
app/desktop/book/
.obsidian/
.hugo_build.lock
