@import "defaults";
@import "variables";

::-webkit-scrollbar {
  width: $padding-8;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: $padding-8;
}

:hover::-webkit-scrollbar-thumb {
  background: var(--gray-500);
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.book-menu nav {
  scrollbar-color: transparent var(--gray-500);
}


:root {
  --gray-800: #555
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-800: rgba(255, 255, 255, 0.8)
  }
}

[data-tooltip] {
  $triangle: .4rem;
  $background-color: rgba(51,51,51,.9);

  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  border-bottom: 1px dashed var(--body-font-color);


  &::after {
    background-color: $background-color;
    border-radius: $triangle;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.15rem;
    opacity: 0;
    padding: .25rem .5rem;
    position: absolute;
    text-align: center;
    text-transform: none;
    transition: opacity .2s;
    visibility: hidden;
    width: max-content;
    max-width: 300%;
    z-index: 1;
  }

  // arrows
  &::before {
    border-style: solid;
    border-width: $triangle;
    content: "";
    opacity: 0;
    position: absolute;
    transition: opacity .2s;
    visibility: hidden;
    border-color: $background-color transparent transparent transparent;
    bottom: 75%;
    left: 50%;
    margin-left: -$triangle;
  }

  &::after {
    bottom: 150%;
    left: 50%;
    transform: translate(-50%);
  }

  &.active::after,
  &.tooltip.active::before,
  &:hover::after,
  &.tooltip:hover::before {
    visibility: visible;
    opacity: 1;
  }
}

h1,
h2 {
  font-weight: 700;
}

.page-navigation {
  height: 3em;
  line-height: 1.5;
}

.page-navigation a {
  max-width: 80%;
  font-size: 1rem;
  display: inline-block;
}

.aside nav ul li {
    width: 14rem !important;
}


.book-menu a {
  line-height: 1.1;
}

.book-menu .book-menu-content {
  padding: 1rem;
  background: var(--body-background);
  position: fixed;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

a.book-btn {
  display: inline-block;
  font-size: $font-size-14;
  color: var(--color-link);
  line-height: $padding-16 * 2.5;
  padding: 0 $padding-16;
  border: $padding-1 solid var(--color-link);
  border-radius: $border-radius;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: .5em;

  &:hover {
    text-decoration: none;
  }
}

a.book-btn.gray {
  color: var(--gray-500);
  border-color: var(--gray-500);
}

.markdown code {
  direction: ltr !important;
}

.markdown pre code > span {
  overflow-x: auto;
}

.markdown blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    border-inline-start: 0.25rem solid var(--gray-200);
    border-radius: 0.25rem;
}

.markdown .book-hint.info {
    border-color: #6bf;
    background-color: rgba(102,187,255,.1);
}

.markdown .book-hint.warning {
    border-color: #fd6;
    background-color: rgba(255,221,102,.1);
}

.markdown .book-hint.danger {
    border-color: #f66;
    background-color: rgba(255,102,102,.1);
}

.markdown {
  line-height: 2;
 

  h1,
  h2 {
    font-weight: 700;
  }

  em {
    display: block;
    width: 75%;
    margin: 10px auto;
    font-weight: 600;
    position: relative;
  }

  figcaption {
    font-size: small;
  }

  .footnotes {
    font-size: small;
    direction: ltr;
  }
}

@media only screen
  and (min-width: 896px) {
.container {
    margin: 0 auto !important;
    padding: 0 15px !important;
    max-width: none !important;
}
.book-menu{
    display: flex !important;
    width: 20rem !important;
    flex: none !important
}

.book-menu .book-menu-content {
    width: 20rem !important;
    right: 10px !important;
}
}

// theme changer toggle
.js-toggle-wrapper {
  display: table;
  margin: 1rem 0 0 5px;
  flex: 1;
}

.js-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  bottom: 10px;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.js-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.js-toggle-track {
  width: 60px;
  height: 34px;
  padding: 0;
  // border-radius: 30px;
  // background-color: hsl(222, 14%, 7%);
  // background-color: var(--body-background);
  transition: all 0.2s ease;
}

.js-toggle-track-check {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 5px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-check {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.js-toggle-track-x {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  top: 0px;
  bottom: -10px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-x {
  opacity: 0;
}

.js-toggle-thumb {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 32px;
  // border-radius: 50%;
  // background-color: var(--gray-100);
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: translateX(0);
}

.js-toggle--checked .js-toggle-thumb {
  transform: translateX(26px);
  border-color: #19ab27;
}

.magic {
  display: flex;
}


body.dark-mode, 
body.dark-mode main * {
  background: rgb(45, 45, 45);
  color: #f5f5f5;
}

$theme-light: (
gray-100: #f8f9fa,
gray-200: #e9ecef,
body-background: white,
body-font-color: black,
color-link: #05b,
color-visited-link: #8440f1,
icon-filter: none,
);

$theme-dark: (
gray-100: rgba(255, 255, 255, 0.1),
gray-200: rgba(255, 255, 255, 0.2),
body-background: #343a40,
body-font-color: #e9ecef,
color-link: #84b2ff,
color-visited-link: #b88dff,
icon-filter: brightness(0) invert(1),
);

[data-theme="dark"] {
@each $name, $value in $theme-dark {
    --#{$name}: #{$value};
}
}

[data-theme="light"] {
@each $name, $value in $theme-light {
    --#{$name}: #{$value};
}
}

.goplay-btn {
  bottom: 7px;
  right: 7px;
  border: 0;
  border-radius: 2px;
  padding: 10px;
  font-size: 0.85em;
  line-height: 1.8;
  background-color: #5EC9E3;
  color: #000;
  opacity: .5;
  min-width: 55px;
  text-align: center;
}

.goplay-btn:hover {
  opacity: .45;
}

.timeline {
    width: 100%;
    padding: 0px 20px;
}

.timeline ul{
  list-style-type:none;
  border-left:2px solid #00ADD8;
  padding:10px 5px;
  margin:0px;
}
.timeline ul li{
  padding:20px 20px;
  position:relative;
  transition:.5s;
}
.timeline ul li span{
  display:inline-block;
  background-color:#5EC9E3;
  border-radius:25px;
  position: absolute;
  padding:2px 5px;
  font-size:15px;
  text-align:center;
  left: 5px;
  top: 17px;
}
.timeline ul li .content h3{
  color:#5EC9E3;
  font-weight: bold;
  font-size:19px;
}
.timeline ul li .content p{
  padding:-60px 0px 15px 0px;
  font-size:12px;
}
.timeline ul li:before{
  position:absolute;
  content:'';
  width:10px;
  height:10px;
  background-color:#34ace0;
  border-radius:50%;
  left:-11px;
  top:28px;
  transition:.5s;
}
.timeline ul li:hover:before{
  background-color:#0F0;
  box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
  .timeline{
    width:100%;
    padding:10px 5px 30px 10px;
  }
  .timeline ul li .content h3{
    color:#34ace0;
    font-size:15px;
  }

}

.book-menu a.active {
    color: #5ec9e3;
}

a.book-btn {
    display: inline-block;
    font-size: .875rem;
    color: #5ec9e3;
    line-height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid #5ec9e3;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

// scroll to top
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #5ec9e3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #01ADD8;
}

@media print {
    .book-header img.book-icon {display: none;}
    b, strong {display: none;}
    .page-navigation a {display: none;}
    .book-comments {display: none;}
    .flex align-center {display: none;}
    .book-toc .book-toc-content {display: none;}
    .markdown pre code { white-space: pre-wrap; }
}

.wrapper{
  text-align: center;
  }
  
  .wrapper .icon {
  position: relative;
  border-radius: 50%;
  margin: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-decoration: none;
  }
  
  .wrapper .tooltip {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  font-size: 12px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: max-content;
  z-index: 95959202020 !important;
  }
  
  
  .wrapper a:first-child .tooltip {
  right: 0 !important;
  }
  .wrapper a:first-child .tooltip::before {
  right: 7% !important;
  }
  
  .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 18%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .telegram:hover,
  .wrapper .telegram:hover .tooltip,
  .wrapper .telegram:hover .tooltip::before {
  background-color: #229ED9;
  color: #ffffff;
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
  background-color: #0072b1;
  color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
  }
